{% extends 'mgmbase.html' %}
{% block title %} Logic Controller - Modicon M221 {% endblock %}
{% block style%} <style></style> {% endblock %}

{% block script %} 
<script>
    var updateInterval = 2000; // Update interval in milliseconds
    // Function to auto-refresh the page
    function timedRefresh(timeoutPeriod) {
        setTimeout("location.reload(true);",timeoutPeriod);
    }
    window.onload = timedRefresh(updateInterval); // refresh every 2 sec.
</script>
{% endblock %}

{% block mgmContent %}

<ul class="list-group">

    <li class="list-group-item">
        <h3> <b class="text-success"> PLC Contact and Coil State </b></h3>
        <p> </p>
    </li>
    <br>
    <div class="row">
        <div class="col-sm-3">

            <li class="list-group-item">   
                <b class="text-success">PLC Input Group</b> 
                <p> </p>
                <table class="table table-bordered table-sm">
                    <thead class="table-dark">
                      <tr>
                        <th>Contact</th>
                        <th>Voltage</th>
                        <th>Register</th>
                        <th>Value</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for regVal in posts["registerVal"] %}
                        <tr>
                            <td>%I0.{{loop.index0}}</td>
                            {% if regVal==1%}
                                <td><span class="badge bg-success">{{posts["inputVol"][loop.index0]}} V</span></td>
                            {% else %}
                                <td><span class="badge bg-dark"> 0 V </span></td>
                            {% endif%}
                            <td>%HR0.{{loop.index0}}</td>
                            {% if regVal==1%}
                                <td><span class="badge bg-success">1</span></td>
                            {% else %}
                                <td><span class="badge bg-warning"> 0 </span></td>
                            {% endif%}
                        </tr>
                        {% endfor%}
                    </tbody>
                  </table>
            </li>
        </div>

        <div class="col-sm-6">

            <li class="list-group-item">   
                <b class="text-success">PLC Ladder Diagram</b> 
                <p> </p>
                <img src="{{url_for('static', filename='img/mbLadderLogic.png')}}" class="rounded img-fluid">
            </li>

        </div>

        <div class="col-sm-3">

            <li class="list-group-item">   
                <b class="text-success">PLC Output group</b> 
                <p> </p>
                <table class="table table-bordered table-sm">
                    <thead class="table-dark">
                      <tr>
                        <th>Coil</th>
                        <th>Value</th>
                        <th>Output</th>
                        <th>Voltage</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for coilVal in posts["coilVal"] %}
                        <tr>
                            <td>%Q0.{{loop.index0}}</td>
                            {% if coilVal%}
                                <td><span class="badge bg-success">{{coilVal}}</span></td>
                            {% else %}
                                <td><span class="badge bg-warning">{{coilVal}}</span></td>
                            {% endif%}
                            <td>%O0.{{loop.index0}}</td>
                            {% if coilVal%}
                                <td><span class="badge bg-success">{{posts["outputVol"][loop.index0]}} V</span></td>
                            {% else %}
                                <td><span class="badge bg-dark"> 0 V </span></td>
                            {% endif%}
                        </tr>
                        {% endfor%}
                    </tbody>
                  </table>
            </li>
        </div>
    </div>
</ul>

{% endblock %}